<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao TCC-GEN</h1>
  <p class="lead">  .</p>
  <hr class="my-4">
  <p>O TCC Manager é um sistema WEB destinado ao gerenciamento de Trabalhos de 
    Conclusão de Curso, para a Instituto Federal do Norte de Minas Gerais - Campus Januária que tem como requisito 
    para obtenção do diploma o desenvolvimento de um TCC. 
    Entretanto, uma dificuldade encontrada por grande parte dos alunos na fase de 
    conclusão do curso é encontrar um tema adequado e, juntamente, 
    um orientador para o desenvolvimento do TCC. O desenvolvimento do sistema 
    aqui descrito visa a melhora da comunicação entre alunos 
    e professores para que a fase de escolha de temas e desenvolvimento dos 
    trabalhos gere menos frustrações para os discentes e conflitos de informações. 
  </p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button"> Catastrar </a>
</div>
<h2>Trabalhos recentes</h2>

{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button type="button" class="btn btn-info">Leia mais...</button></a>
    <hr>
    <small>Categoria: {{categoria.nome}}</small>
    <small>Data de publicação: {{data}}</small>
  </div>
</div>
{{else}}
  <h4>Nenhuma postagem</h4>
{{/each}}
